{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hezkie's Messenger</title>
    <link rel="stylesheet" href="{% static 'css/lab4_index.css' %}" />
    <ul>
      <li><a href="">List</a></li>
      <li><a href="add-note">Add</a></li>
      <li><a href="note-list">Card</a></li>
    </ul>
  </head>
  <body id="header">
    <h1>List of Notes</h1>
  </body>
  <table>
    <tr>
      <th>To</th>
      <th>From</th>
      <th>Title</th>
      <th>Message</th>
    </tr>
    <!-- TODO loop from Note model -->
    {% for i in notes %}
    <tr>
      <td>{{ i.To }}</td>
      <td>{{ i.From }}</td>
      <td>{{ i.Title }}</td>
      <td>{{ i.Message }}</td>
    </tr>
    {% endfor %}
  </table>
</html>
