{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hezkie's Messenger</title>
    <link rel="stylesheet" href="{% static 'css/lab4_note_list.css' %}" />
    <ul>
      <li><a href="../lab-4">List</a></li>
      <li><a href="add-note">Add</a></li>
      <li><a href="note-list">Card</a></li>
    </ul>
  </head>
  <body id="header">
    <h1>Card of Notes</h1>
    <div class="card">
      {%for i in notes%}
      <div class="card-text">
          <span class="to"> To: {{ i.To }}</span> <br>
          <span class="from"> From: {{ i.From }}</span>
          <h2>{{ i.Title }}</h2>
          <p>{{ i.Message }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
