{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hezkie's Messenger</title>
    <link rel="stylesheet" href="{% static 'css/lab4_form.css' %}" />
    <ul>
      <li><a href="../lab-4">List</a></li>
      <li><a href="add-note">Add</a></li>
      <li><a href="note-list">Card</a></li>
    </ul>
  </head>
  <body id="header">
    <h1>Create New Notes</h1>
  </body>
  <form method="post" action="">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Submit</button>
  </form>
</html>