<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    td, th {
    border: 2px solid;
    text-align: center;
    padding: 15px;
    border-color: lightblue;
    }
  </style>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for i in friends %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.npm}}</td>
        <td>{{ i.birth_date }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
