<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <form method="post" action="">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
  </body>
</html>