#header {
    background-image: linear-gradient(289deg, rgba(203,240,196,0.8664508039543942) 0%, rgba(188,211,240,0.8692519244025736) 100%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(255,255,255, 0.4);
}
li{
    float: left;
    margin-right: 10px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
