#header {
    background-image: linear-gradient(289deg, rgba(203,240,196,0.8664508039543942) 0%, rgba(188,211,240,0.8692519244025736) 100%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.card-text {
    margin: 25px;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(255,255,255, 0.4);
    text-align: center;
    width: 300px;
    height: 200px;
}

.card-text .to {
    color: rgb(255,7,110);
    font-size: 13px;
}

.card-text .from {
    color: rgb(7, 114, 255);
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 5px;
    font-size: 28px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(255,255,255, 0.4);
}
li{
    float: left;
    margin-right: 10px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
